<div class="profile-container">
    <div class="profile-title">
        <h1><%= @user.username %></h1>
        <%= render 'friendships/add_logic', user: @user%>
    </div>

    <div>
        <%= link_to friend_list_path(@user.id), data: { turbo_frame: "modal" } do %>
            <p><%= @user.friends.count %> Friends.</p>
        <% end %>
    </div>

    <div data-controller="profile" style="width:100%;">
        <div class="posts-buttons-container">
            <div class="profile-posts-buttons">
                <%= button_tag "Posts", data: { action: "profile#posts", profile_target: "posts_btn" } %>
                <%= button_tag "Liked posts", data: { action: "profile#liked_posts", profile_target: "liked_btn" } %>
                <%= button_tag "Commented posts", data: { action: "profile#commented_posts", profile_target: "commented_btn" } %>
            </div>
            <hr>
        </div>
        <div>
            <div class="posts-container" data-profile-target="posts">
            <% if @user.posts.any? %>
                <%= render @user.posts %>
            <% else %>
                <p>User has no posts yet.</p>
            <% end %>
            </div>
            <div class="posts-container" data-profile-target="liked_posts">
            <% if @user.liked_posts.any? %>
                <%= render @user.liked_posts %>
            <% else %>
                <p>User has no liked posts yet.</p>
            <% end %>
            </div>
            <div class="posts-container" data-profile-target="commented_posts">
            <% if @user.commented_posts.any? %>
                <%= render @user.commented_posts %>
            <% else %>
                <p>User has no commented posts yet.</p>
            <% end %>
            </div>
        </div>
    </div>
</div>