<div class="post">
    <div class="horizontal-container">
        <%= link_to post.author.username, user_path(post.author.id), class: 'author' %>
        <p class="post-time"><%= post.datetime.to_fs(:short) %></p>
    </div>
    <p class="text"><%= post.body %></p>
    <%= render "likes/likes", post: post %>
    <%= render "comments/form", post: post %>
    <div class="comments-container"><%= render post.comments.reverse %></div>
</div>